{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
<header>
{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'records' %}">出勤簿</a>
  </li>
  <li class="nav-item activate">
    <a class="nav-link" href="{% url 'fix_request' %}">打刻修正</a>
  </li>
  {% if request.user.is_staff %}
  <li>
    <a class="nav-link" href="{% url 'fix_acception' %}">打刻承認</a>
  </li>
{% endif %}
</ul>
  <span class="navbar-text">
    <a href="{% url 'logout' %}">ログアウト</a>
  </span>
{% endblock %}

</header>
{% block content %}
{% csrf_token %}
<!-- <div class="home-login-box">
 {% if user.is_authenticated %}
   <p  class="username">{{ user.username }}</p>
   
   <div class="d-flex justify-content-center">
    <a href="{% url 'logout' %}">Log Out</a>
   </div>
 {% else %}
   <p class="home-login">ログインしてません</p>
   <div class="d-flex justify-content-center">
    <a href="{% url 'login' %}">Log In</a>
   </div>
 {% endif %}
</div>  -->
<h2 class="username">{{ user.username }}</h2>

<div class="container-button">
  <div class="button-row">
    <div class="button-box">
      <button id="attendance_button" type="button" class="attend_button"> 出勤 </button> <!-- btn btn-size btn-success-->
    </div>
    <div class="button-box">
      <button id="leave_button"  type="button" class="go_home_button"> 退勤 </button>
    </div>
  </div>
</div>
<div class="alert-box">
  <div id="push_result" class="alert" role="alert" ></div>
</div>


<script>
  //時間をリアルタイム表示する
//   function updateClock() {
//     var now = new Date();
//     var hour = now.getHours();
//     var minute = now.getMinutes();
//     var second = now.getSeconds();
//     if ( hour < 10 ) hour = "0" + hour;
//     if ( minute < 10 ) minute = "0" + minute;
//     if ( second < 10 ) second = "0" + second;
//     document.getElementById('myClock').innerHTML = hour+":"+minute+":"+second;
//   }
//   setInterval("updateClock();", 1000);

//   function updateDate() {
//   var now = new Date();
//   var year = now.getFullYear();
//   var month = now.getMonth() + 1; // 月は0から始まるので1を加える
//   var day = now.getDate();
//   if (month < 10) month = "0" + month;
//   if (day < 10) day = "0" + day;
//   // 日付と時刻の文字列を組み合わせる
//   var dateTimeStr = year + "年" + month + "月" + day + "日 " ;
//   document.getElementById('myDate').innerHTML = dateTimeStr;
// }
// setInterval("updateDate();", 1000);

  $('#attendance_button').on('click', function () {
    $('#push_result').removeClass('alert-danger');
    $('#push_result').removeClass('alert-info');
    $('#push_result').hide();

    $.ajax({
      url: "{% url 'push' %}",
      method: "POST",
      dataType: 'json',
      data: {
        push_type: 'attendance'
      },
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          var csrfToken = getCookie("csrftoken");
          xhr.setRequestHeader("X-CSRFToken", csrfToken);
        }
      },
    })
    .done(function (data) {
      console.log(data);
      console.log(data.attendance_time);
      if (data.result == 'success'){
        $('#push_result').text('出勤しました： ' + data.attendance_time);
        $('#push_result').addClass('alert-info');
        $('#push_result').show();
      } else {
        $('#push_result').text('すでに打刻しています');
        $('#push_result').addClass('alert-danger');
        $('#push_result').show();
      }
    });
  });

  $('#leave_button').on('click', function () {
    $('#push_result').removeClass('alert-danger');
    $('#push_result').removeClass('alert-info');
    $('#push_result').hide();
    $.ajax({
      url: "{% url 'push' %}",
      method: "POST",
      dataType: 'json',
      data: {
        push_type: 'leave'
      },
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          var csrfToken = getCookie("csrftoken");
          xhr.setRequestHeader("X-CSRFToken", csrfToken);
        }
      },
    })
    .done(function (data) {
      console.log(data);
      if (data.result == 'success'){
        $('#push_result').text('退勤しました： ' + data.leave_time);
        $('#push_result').addClass('alert-info');
        $('#push_result').show();
      }
      else if (data.result == 'not_attended') {
        $('#push_result').text('まだ出勤打刻がされていません');
        $('#push_result').addClass('alert-danger');
        $('#push_result').show();
      } else {
        $('#push_result').text('すでに退勤打刻されています');
        $('#push_result').addClass('alert-danger');
        $('#push_result').show();
      }
    });
  });
</script>
{% endblock %}

